.img-fluid {
  width: 1110px; /* o el valor que desees */
  height: 100px; /* o el valor que desees */
  margin-bottom: 15px;
}
#mi-bloque-de-cita 
{ max-width: 1200px;
  
}
.invisible {
  opacity: 0;
  height: 50px;
  width: 120px;
}
.recuadro {
  max-width: 100%;
}